.event
    background: #f2f2f2
    padding: 30px


.btn__bilim
    display: flex
    justify-content: center
    margin-top: 61px
    

.event__title__cards
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    margin-top: 60px
    gap: 30px
    .event__card.animation-class
        opacity: 1
        transform: translateX(0px)
    .event__card.animation-class:nth-child(2)
        opacity: 1
        transition-delay: 0.3s
        transform: translateX(0px)
    .event__card.animation-class:nth-child(3)
        opacity: 1
        transition-delay: 0.4s
        transform: translateX(0px)
    .event__card.animation-class:nth-child(4)
        opacity: 1
        transform: translateX(0px)
    .event__card.animation-class:nth-child(5)
        opacity: 1
        transition-delay: 0.3s
        transform: translateX(0px)
    .event__card.animation-class:nth-child(6)
        opacity: 1
        transition-delay: 0.4s
        transform: translateX(0px)
    .event__card.animation-class:nth-child(7)
        opacity: 1
        
        transform: translateX(0px)
    .event__card.animation-class:nth-child(8)
        opacity: 1
        transition-delay: 0.3s
        transform: translateX(0px)
    .event__card.animation-class:nth-child(9)
        opacity: 1
        transition-delay: 0.4s
        transform: translateX(0px)
    .event__card
        width: 344px
        transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out
        opacity: 0
        transform: translateX(-30px)
        border-radius: 15px
        background: #fff 
        display: flex
        flex-wrap: wrap
        flex-direction: column
        align-items: flex-start
        box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.20)
        // img
        //     padding-top: 10px
        //     margin: 0 auto
        p
            width: 284px
            margin: 0 auto
            font-size: 20px
            padding: 25px 0px 0px 0px
        .event__span
            margin: 20px 0px 10px 28px


.hovr__img
    overflow: hidden
.hover
    transition: 1s 
.hover:hover
    transform: scale(1.1)
    
@media screen and (max-width: 1198px) and (min-width: 890px)
    .event
        padding: 30px 0px
        
    .event__title__cards
        gap: 30px

        .event__card
            width: 234px
            border-radius: 15px
            display: flex
            flex-wrap: wrap
            flex-direction: column
            align-items: flex-start
            img
                margin: 0 auto
                width: 230px

            p
                width: 234px
                margin: 0 auto
                font-size: 16px
                padding: 25px 12px 0px 12px
            .event__span
                margin: 20px 0px 10px 28px
             
@media screen and (max-width: 889px) and (min-width: 570px)
    .event
        background: #f2f2f2
        padding: 30px 0px


    .event__title__cards
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
        margin-top: 60px
        gap: 30px

        .event__card
            width: 234px
            border-radius: 15px
            background: #fff 
            display: flex
            flex-wrap: wrap
            flex-direction: column
            align-items: flex-start
            box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.20)
            img
                margin: 0 auto
                width: 230px

            p
                width: 234px
                margin: 0 auto
                font-size: 16px
                padding: 25px 12px 0px 12px
            .event__span
                margin: 20px 0px 10px 28px
@media screen and (max-width: 570px) and (min-width: 320px)
    .event
        background: #f2f2f2
        padding: 30px 0px


    .event__title__cards
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
        margin-top: 60px
        gap: 30px

        .event__card
            width: 234px
            border-radius: 15px
            background: #fff 
            display: flex
            flex-wrap: wrap
            flex-direction: column
            align-items: flex-start
            box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.20)
            img
                margin: 0 auto
                width: 230px

            p
                width: 234px
                margin: 0 auto
                font-size: 16px
                padding: 25px 12px 0px 12px
            .event__span
                margin: 20px 0px 10px 28px

body
    &.dark
        .event
            background: #191919
            padding: 30px
            
        .btn__bilim
            display: flex
            justify-content: center
            margin-top: 61px
            

        .event__title__cards
            display: flex
            justify-content: center
            align-items: center
            flex-wrap: wrap
            margin-top: 60px
            gap: 30px

            .event__card
                width: 344px
                border-radius: 15px
                background: #1448c2ad 
                display: flex
                flex-wrap: wrap
                flex-direction: column
                align-items: flex-start
                box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.20)
                // img
                //     padding-top: 10px
                //     margin: 0 auto
                p
                    width: 284px
                    margin: 0 auto
                    font-size: 20px
                    padding: 25px 0px 0px 0px
                .event__span
                    margin: 20px 0px 10px 28px
                    
        @media screen and (max-width: 1198px) and (min-width: 890px)
            .event
                padding: 30px 0px
                
            .event__title__cards
                gap: 30px

                .event__card
                    width: 234px
                    border-radius: 15px
                    display: flex
                    flex-wrap: wrap
                    flex-direction: column
                    align-items: flex-start
                    img
                        margin: 0 auto
                        width: 230px

                    p
                        width: 234px
                        margin: 0 auto
                        font-size: 16px
                        padding: 25px 12px 0px 12px
                    .event__span
                        margin: 20px 0px 10px 28px
                    
        @media screen and (max-width: 889px) and (min-width: 570px)
            .event
                padding: 30px 0px


            .event__title__cards
                display: flex
                justify-content: center
                align-items: center
                flex-wrap: wrap
                margin-top: 60px
                gap: 30px

                .event__card
                    width: 234px
                    border-radius: 15px
                    background: #1448c2ad 
                    display: flex
                    flex-wrap: wrap
                    flex-direction: column
                    align-items: flex-start
                    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.20)
                    img
                        margin: 0 auto
                        width: 230px

                    p
                        width: 234px
                        margin: 0 auto
                        font-size: 16px
                        padding: 25px 12px 0px 12px
                    .event__span
                        margin: 20px 0px 10px 28px
        @media screen and (max-width: 570px) and (min-width: 320px)
            .event
                padding: 30px 0px


            .event__title__cards
                display: flex
                justify-content: center
                align-items: center
                flex-wrap: wrap
                margin-top: 60px
                gap: 30px

                .event__card
                    width: 234px
                    border-radius: 15px
                    background: #1448c2ad 
                    display: flex
                    flex-wrap: wrap
                    flex-direction: column
                    align-items: flex-start
                    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.20)
                    img
                        margin: 0 auto
                        width: 230px

                    p
                        width: 234px
                        margin: 0 auto
                        font-size: 16px
                        padding: 25px 12px 0px 12px
                    .event__span
                        margin: 20px 0px 10px 28px
